# Ignore this files and folders to download with zip version
.gitignore              export-ignore
.gitattributes          export-ignore
CODEOWNERS              export-ignore
SUPPORT.md              export-ignore
*_TEMPLATE.md           export-ignore
.github/                export-ignore
.vscode/                export-ignore
.opencode/              export-ignore
opencode.json           export-ignore
AGENTS.md               export-ignore
mkdocs.yml              export-ignore
requirements.txt        export-ignore
